.LandingPage {
    position: relative;
    height:100vh;   
}

.LandingPageName {
    position: absolute;
    top: 46vh;
    left: 50%;
    width: 54vw;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid white;
    background-color: rgba(115, 162, 184, 0.61);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    padding: 2em;
}

.LandingPageName > h1 {
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 8vh;
    color: white;
}

.LandingPageName > p {
    font-size: 5vh;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: white
}

.CompImg {
    position: absolute;
    opacity: 0.7;
    top: 16em;
    left: 50%;
    width: 20em;
    height: 20em;
    transform: translate(-50%, -50%);
}

.BtnInfo {
    position: absolute;
    top: 62vh;
    left: 50%;
    width: 10em;
    transform: translate(-50%, -50%);
    background-color: #da9393;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:0;
    border: 2px solid white;
    transition-duration: 1s;;
    color:white;
    font-size: 2.5vh;
    padding: 0.1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    font-family: 'Libre Baskerville', sans-serif;
}

.BtnInfo:hover {
    text-decoration: underline;
}

.ArrowDown {
    color: white;
    position: absolute;
    top: 85vh;
    left: 50%;
    width: 3em;
    height: 3em;
    transform: translate(-50%, -50%);
}