.home {
  position: relative;
  height: 101vh;
  background-image: url('./../../img/bg_alt.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home--container {
  position: absolute;
  right: 10%;
  top: 15%;
  width: 55%;
  height: auto;
  transform: translate(0%, -50%);
  text-align: left;
  padding: 1vw;
  background-color: #C44550;
  transform-origin: left top;
  border-radius: 1em;
 
}

/* TODO nachodzi na container przy mniejszej rozdzialce*/
.home--container::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid #C44550;
  border-top: 50px solid #C44550;
  border-bottom: 50px solid transparent;
  left: -5em;
  top: 6px;
}

.home--container > h1 { 
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  margin: auto;
  font-size: 10vh;
  color: #ffffff;
  display: block;
  font-weight: 400;
  border-radius: 10px;
  text-transform: uppercase;
  height: 14vh
}

.home--container > article {
  background-color: #C44550;
}

.home--container-out {
  color: #ffffff !important;
  background-color: #C44550 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.15) !important;
}

.home--container > article {
  margin-top: 1em;
  border: 1em!important;
  
}

.home--container > article > p {
  padding: 1vw;
  font-size: 2.5vh;
  margin-top: 0.5em;
  margin-left: 0.5vw!important;
  margin-right: 0.5em; 
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-style: initial; 
  color: #ffffff;
  line-height: 4vh;
  border-radius: 10px;
  display: block;
}

.global--arrow { 
  position: fixed;
  top: 2vh;
  right: 2vh;
  width: 4vw;
  height: 4vw;
  z-index: 10;
  align-content: center;
  background-color: transparent!important;
  border: none!important
}

.global--arrow > svg {
  color: #C44550;
  width: 3vw;
  height: 3vw;
}

.st0{fill:rgb(231, 77, 90);}
.st1{fill:rgb(172, 48, 58);}
.st2{fill:rgb(231, 77, 90);}
.st3{fill:#46ABBC;}
.st4 {fill:rgb(149, 149, 150);}
.case {fill:rgb(231, 77, 90);}
.st5{fill:#F0EFEF;}
.st6{fill:rgb(231, 77, 90);}
.st7{fill:#292930}
.st8{fill:#292930}
.st9{fill:rgb(231, 146, 77)}

@media only screen and (max-width: 700px) {
  .home--container {
    top: 7em;
    left: 30%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 22em;
    padding: 1em;
    background-color: transparent;
  }
  
  .home--container::before {
    display: none
  }

  .home--container > h1 {
    left: 50%;
    top: 50%;
    transform: translate(0%, 50%);
    font-size: 2.5em;
    text-align: center;
    background-color: transparent;
  }

  .home--container > article {
    position: absolute;
    height: 20vh;
    width: 60vw;
    margin: 0.1em;
    border-radius: 0em;
    background-color: transparent;
  }
  
  .home--container > article > p {
    font-size: 1.9vh;  
    background-color: #C44550;
    border-radius: 0em;
    line-height: 2.8vh;
    text-align: center;
    color: #ffffff;
    height: auto;
    text-transform: uppercase;
  }

  .global--arrow {
    padding: 0!important;
    top: 0em;
    right: 0em;
    width: 9vh;
    height: 9vh;    
  }

  .global--arrow > svg {
    width: 100%;
    height: 100%;
    color: #ffffff;
  }

  .LanguageBtn {
    right: 0.2em!important;
    bottom: 2em!important;
    width: 2.5em!important;
    height: 1.7em!important;
    background-size: cover;
    background-position: center;
  }

  .landing--arrow {
    display: none !important;
  }

  .image--holder {
    background-image: url("./../../img/Profit2_png.png");
    display: none;
  }
}