.LandingPage {
    position: relative;
    height:90em;
}

.LandingPageName {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 26em;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 5px solid white;
}

.LandingPageName > h1 {
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 3rem;
}

.LandingPageName > p {
    font-size: 2rem;
}
