#projects {
  position: relative;
  height: 102vh;
  background-color: #2e2e30;
}

#projects::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 25%;
  border-top: 3px solid #fbd791;
}

.projects--container {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 50%;
  top: 45vh;
  width: 70vw;
  height: 75vh;
  transform: translate(-50%, -50%);
  padding: 1em;
}

.projects--img {
  width: 25vw;
  padding: 1em;
  background-color: #2e2e30;
  border-radius: 0em;
  margin: 0em;
}

.projects--technologies-container-alt {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 20vh;
  margin-top: 2em;
  margin-left: 2em;
}

.projects--container-img {
  width: 40vw;
  height: auto
}

.projects--container-img > img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  width: auto;
  padding: 1em;
  box-shadow:0px 0px 3em .5em #fbd791 inset;
}

.projects--subinfo > h3 {
  text-align: center;
  color: #fbd791;
  font-size: 4.5vh;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  visibility: hidden;
  opacity: 0
}

.projects--subinfo > p {
  text-align: center;
  color: #ffffff;
  font-size: 2.2vh !important;
  font-family: 'Roboto', sans-serif;
  visibility: hidden;
  opacity: 0;
}

.projects--btn-container {
  position: relative;
  top: 2vh;
  width: 20vw;
  height: 10vh;
  transform: translate(0%, 50%);
  display: flex;
  flex-direction: row;
  font-size: 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  z-index: 20;
  margin-left: 2em;
}

.projects--btn {
  width: 50%;
  border: none;
  background-color: #2e2e30;
  outline: none !important;
  color: #ffffff;
}

.btn-prev {
  text-align: center;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  transition: 500ms;
}

.btn-prev:hover,
.btn-next:hover {
  background-color: #fbd791;
  color: #2e2e30
}

.btn-next {
  text-align: center;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  transition: 500ms;
}

.projects--technologies-container {
  width: 30vw;
  height: 60vh;
  margin-left: auto;
  margin-right: 0;
}

#projects > h1 {
  position: absolute;
  text-align: center;
  width: 5em;
  font-size: 7vh;
  top: 35vh;
  transform: rotate(90deg);
  z-index: 5;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fbd791;
}

.projects--subinfo {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  background-color: #2e2e30;
  border-radius: 1em;
  opacity: 0;
  height: auto;
}

.projects--span {
  width: 30vw;
  align-items: center;
}

.projects--img {
  width: 8vw;
  height: 8vw;
  left: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 1em;
}

.projects--technologies-container > p {
  padding: 0.4em;
}

@media only screen and (max-width: 1500px) {
  
  #projects > h1 {
    font-size: 2em;
    padding: 0.1em;
    width: 10em;
    top: 1em;
    left: 50%;   
    transform: translate(-50%, -50%);
    color: #fbd791;
  }

  .projects--btn-container {
    margin-top: .5em
  }

  .projects--container {
    position: relative;
    font-size: 2em;
    text-align: center;
    box-shadow: none;
    padding: 0em;
    width: 10em;
    height: 80%;
    flex-direction: column;
  }

  .projects--technologies-container-alt {
    position: relative;
    bottom: 0.5em;
    width: 100%;
    margin-bottom: 1em;
    height: auto;
  }

  .projects--img {
    padding: 0;
    border-radius: 0em;
    background-color: transparent;
    box-shadow: none;
  }

  .projects--technologies-container {
    position: relative;
    top: 0em;
    width: 10em;
    height: auto;
    background-color: #2e2e30;
    box-shadow: none;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
    margin-top: .5em
  }

  .projects--technologies-container-alt {
    height: 1.8em;
    bottom: 0em;
    margin: 0em;
    z-index: 20;
    background-color: #2e2e30;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  }

  .projects--subinfo > h3 {
    text-align: center;
    font-size: 3.8vh;
    color: #fbd791;
  }

  .projects--subinfo {
    box-shadow: none;
    background-color: #2e2e3000;
    transform: translate(0%, 50%);
    top: 0em;
  }

  .projects--subinfo > p {
    text-align: center;
    font-size: 2vh !important;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .projects--container-img-container {
    width: auto;
    /* 867 */
    height: auto;
    /* 672 */
    z-index: 2;
  }

  .projects--container-img {
    position: relative;
    top: 8vh;
    width: auto;
    height: 6em;
    box-shadow: none;
    padding: .4em;
    border-bottom: 3px solid #fbd791 
  }

  .projects--btn-container {
    top: 0%;
    width: 6em;
    height: 1.5em;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-left: 0;
  }


  .btn-prev:hover,
  .btn-next:hover {
    background-color: #fbd791;
    color: #2e2e30
  }
}

@media only screen and (max-width: 1500px) {
 
  .projects--container-img {
    position: relative;
    top: 8vh;
    width: auto;
    height: 5em;
    box-shadow: none;
    
    border-bottom: 3px solid #fbd791 
  }

  .projects--container-img > img {
    width: auto;
    /* 867 */
    height: 5.8em;
    /* 672 */
    z-index: 2;
    left: 0%;
    top: 0%;
    transform: translate(0%, -20%);
    box-shadow: none
  }

}