#projects {
  position: relative;
  height: 80vh;
  background-color: transparent;
}

.projects--adress {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 40%;
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  color: #fff;
  width: auto;
}

.projects--container {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 80%;
  transform: translate(-50%, -50%);
  padding: 1em;
  z-index: 5;
}

.projects--technologies-container-alt {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  margin-top: 2em;
}

.projects--container-img {
  width: 100%;
  height: auto;
}

.projects--container-img > img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: auto
}

.projects--subinfo > h3 {
  text-align: center;
  color: #fbd791;
  font-size: calc(.8vh + 2vw);
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.projects--subinfo > p {
  text-align: center;
  color: #ffffff;
  font-size: calc(.5vh + .8vw);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.projects--btn-container {
  position: relative;
  top: 1vh;
  width: 100%;
  height: 15%;
  transform: translate(0%, 50%);
  display: flex;
  flex-direction: row;
  font-size: 4vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  z-index: 20;
}

.projects--btn {
  width: 50%;
  border: none;
  background-color: #2e2e30;
  outline: none !important;
  color: #ffffff;
}

.btn-prev {
  text-align: center;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  transition: 500ms;
  border-right: 1px solid #292930;
}

.btn-prev:hover,
.btn-next:hover {
  background-color: #fbd791;
  color: #2e2e30;
}

.btn-next {
  text-align: center;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  transition: 500ms;
}

.projects--technologies-container {
  width: 30%;
  height: 60vh;
  margin-left: 0.5em;
  margin-right: 0;
}

#projects > h1 {
  position: absolute;
  text-align: center;
  width: auto;
  font-size: 7vh;
  top: 50%;
  transform: translate(-30%, -50%) rotate(90deg);
  z-index: 5;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fbd791;
}

.projects--subinfo {
  margin-top: 5%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative; 
  border-radius: 0em;
  
  height: auto;
}

.projects--span {
  width: 33%;
  height: auto;
  align-items: center;
}

.projects--img {
  width: 100%;
  height: 100%;
  padding: 0.2vw;
  left: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  background-color: #2e2e30;
  border-radius: 1vw;
}

.projects--technologies-container > p {
  padding: 0.4em;
}

@media only screen and (max-width: 700px) {

  
#projects::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 25%;
  border-top: 3px solid #fbd791;
}

.projects--background {
  display: none;
}

#projects::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  left: 25%;
  border-top: 3px solid #fbd791;
}

  #projects {
    height: 36em;
    background-image: url("./../../img/noise_bg.webp");
    background-repeat: no-repeat;
    background-position: center;
  }

  #projects > h1 {
    font-size: 2em;
    padding: 0.1em;
    width: 10em;
    top: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fbd791;
  }

  .projects--container {
    position: relative;
    font-size: 2em;
    text-align: center;
    box-shadow: none;
    padding: 0em;
    width: 100vw;
    height: 80%;
    flex-direction: column;
  }

  .projects--technologies-container-alt {
    position: relative;
    bottom: 0.5em;
    width: 100%;
    margin-bottom: 1em;
    height: auto;
  }

  .projects--img {
    padding: 0;
    border-radius: 0em;
    background-color: transparent;
    box-shadow: none;
    width: 4vw;
    height: 4vw;
  }

  .projects--technologies-container {
    position: absolute;
    bottom: 0;
    margin-top: 2em;
    width: 100%;
    height: auto;
    box-shadow: none;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
   
  }

  .projects--technologies-container-alt {
    height: 1.8em;
    bottom: 0em;
    margin: 0em;
    z-index: 20;
  }

  .projects--span {
    width: 33%;
    height: auto;
    align-items: center;
  }

  .projects--subinfo > h3 {
    text-align: center;
    font-size: 3.8vh;
    color: #fbd791;
  }

  .projects--subinfo {
    box-shadow: none;
    background-color: #2e2e3000;
    transform: translate(0%, -50%);
    top: 0em;
  }

  .projects--subinfo > p {
    text-align: center;
    font-size: 2vh !important;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .projects--container-img-container {
    width: auto;
    height: auto;
    z-index: 2;
  }

  .projects--container-img {
    position: relative;
    top: 8vh;
    width: auto;
    height: 6em;
    box-shadow: none;
    padding: 0.4em;
  }

  .projects--btn-container {
    position: relative;
    bottom: 0;
    width: 6em;
    height: 1.5em;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-left: 0;
  }

  .projects--technologies-container-alt {
    background-image: url("./../../img/noise_bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
  }

  .btn-prev:hover,
  .btn-next:hover {
    background-color: #fbd791;
    color: #2e2e30;
  }

  .projects--btn-container {
    margin-top: 0.5em;
  }

  .projects--subinfo {
    background-color: #fbd791;
    border-radius: 0;
  }


  .projects--container-img {
    position: relative;
    top: 8vh;
    width: auto;
    height: 5em;
    box-shadow: none;
  }

  .projects--container-img > img {
    width: auto;
    height: 6em;
    z-index: 2;
    left: 0%;
    top: 0%;
    transform: translate(0%, -20%);
    box-shadow: none;
  }

  .projects--technologies-container-alt {
    background-color: #2e2e30;
    box-shadow: none;
  }

  .projects--img {
    padding: 0;
    border-radius: 0em;
    background-color: transparent;
    box-shadow: none;
    width: 12vw;
    height: 12vw;
  }

  .projects--subinfo {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-image: url("./../../img/noise_bg.webp");
    background-repeat: no-repeat;
    background-position: center;
  }

  .projects--subinfo > h3 {
    color: #fbd791;
  }

  .projects--subinfo > p {
    color: #ffffff;
  }
}
