#skills {
  position: relative;
  color: #d56c2c;
  height: 100vh;
  background-color: white
}

#skills > h1 {
  position: absolute;
  text-align: center;
  width: 5em;
  font-size: 4em;
  top: 50vh;
  transform: rotate(90deg);
}

.SkillsAnim {
  -webkit-animation: skillsAnim 1.5s ease-in;
  -moz-animation: skillsAnim 1.5s ease-in;
  -o-animation: skillsAnim 1.5s ease-in;
  animation: skillsAnim 1.5s ease-in;
}

.SkillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 55vh;
  left: 50%;
  width: 80vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.SkillsSpan {
  width: 10vw;
  height: 20vh;
  margin: 3em;
  transition: all 1s;
}

.SkillsSpan > p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1em;
}

.ImageStyle {
  width: 8vw;
  height: 8vw;
  margin: 1em;
  opacity: 0.7;
  transition: all 1s;
}

.ImageStyle:hover {
  transform: scale(1.2);
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  #skills {
    position: relative;
    color: #d56c2c;
    height: 96em;
  }

  #skills > h1 {
    font-size: 2em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    padding: 0.1em;
    width: 10em;
    top: 3.4em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .SkillsContainer {
    width: 16em;
    top: 52em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .SkillsSpan {
    width: 10em;
    height: 10em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .SkillsSpan > p {
    font-size: 1.2em;
    padding: 0.1em;
  }

  .ImageStyle {
    width: 9em;
    height: 9em;
    margin: 0.5em;
  }
}

@-webkit-keyframes skillsAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%
  }
}

@-moz-keyframes skillsAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%
  }
}

@-o-keyframes skillsAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%
  }
}

@keyframes skillsAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%
  }
}

@-webkit-keyframes skillsAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%
  }
}

@-moz-keyframes skillsAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%
  }
}

@-o-keyframes skillsAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%
  }
}

@keyframes skillsAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%
  }
}