#skills {
  position: relative;
  height: 101vh;
  background-image: url("./../../img/skills.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#skills > h1 {
  position: absolute;
  text-align: center;
  width: 5em;
  font-size: 7vh;
  color: white;
  top: 45vh;
  transform: rotate(90deg);
  z-index: 5;
  font-weight: 500
}

.TechnologyHeader {
  width: 100%
}

.SkillsAnim {
  -webkit-animation: anim 1s ease-in;
  -moz-animation: anim 1s ease-in;
  -o-animation: anim 1s ease-in;
  animation: anim 1s ease-in;
}

.SkillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 45vh;
  left: 50%;
  width: 80vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.SkillsSpan {
  width: 13vw;
  height: 18vh;
  margin: 3vw;
  padding: 2em;
  transition: all 1s;
}

.progress {
  border-radius: 0;
}

.SkillsSpan > p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1em;
}

.ImageStyle {
  width: 7vw;
  height: 7vw;
  margin: 1em;
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  #skills {
    color: #292930;
    height: 87em;
  }

  #skills > h1 {
    font-size: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    padding: 0.1em;
    width: 10em;
    top: 3.4em;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #292930;
  }

  .SkillsContainer {
    width: 16em;
    top: 45em;
    align-content: center;
  }

  .SkillsSpan {
    width: 12em;
    height: 10em;
    margin: 0;
    margin-top: 1em!important;
  }

  .SkillsSpan > p {
    font-size: 1.2em;
    padding: 0.1em;
  }

  .ImageStyle {
    width: 6em;
    height: 6em;
    margin: 0;
  }
}

@-webkit-keyframes skillsAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-moz-keyframes skillsAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-o-keyframes skillsAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@keyframes skillsAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-webkit-keyframes skillsAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-moz-keyframes skillsAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-o-keyframes skillsAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@keyframes skillsAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}
