#skills {
  position: relative;
  height: 101vh;
  background-color: #ffffff;
  background-image: url('./../../img/bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#skills > h1 {
  position: absolute;
  text-align: center;
  width: 5em;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 7vh;
  color: #C44550;
  top: 35vh;
  transform: rotate(90deg);
  z-index: 5;
  text-transform: uppercase;
}

.skills--technology-header {
  width: 100%
}

.tooltip-inner {
  font-family: 'Roboto', sans-serif;
  background-color: #C44550 !important;
  color: #ffffff !important;
  font-size: 1.5vh !important;
  text-transform: uppercase;
}

div > .arrow {
  display: none !important;
}

.skills--container {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 45vh;
  left: 50%;
  width: 70vw;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.skills--img-container {
  width: 12vw;
  height: 26vh;
  margin: 2vw;
  padding: 1vw;
  transition: all 500ms;
  background-color: #3c5c64;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}


.skills--img-container > p {
  text-align: center;
  font-size: .8vw;
  margin-top: 1vh;
}

.skills--img {
  width: 8vw;
  height: 8vw;
  margin: .1vh;
  opacity: 1;
  transition: 2s;
}

.skills--img-container:hover {
  transform: translateY(-1em)
}

.skills--technology-header {
  font-size: 2vh;
  margin-top: 1vh;
}


.popover-header, .popover-body {
  text-align: center;
}

.popover-header {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  background-color: #C44550!important;
  font-size: 2.5vh!important;
  color: #ffffff!important;
  border-bottom: none!important;
  text-transform: uppercase;
}

.popover-body {
  font-family: 'Roboto', sans-serif;
  color:  #C44550!important;
  font-size: 2.0vh!important;
  background-color: #ffffff!important;
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.list-group-item {
  background-color: #ffffff!important;
}

.popover {
  border:none!important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.5em!important;
}

@media only screen and (max-width: 700px) {
  #skills {
    color: #292930;
    height: 101vh;
  }

  #skills > h1 {
    font-size: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    padding: 0.1em;
    width: 10em;
    top: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  #C44550;
    color: #ffffff;
  }

  .skills--container {
    width: 80vw;
    top: 42vh;
    align-content: center;
  }

  .skills--img-container {
    width: 13vh;
    height: 13vh;
    margin: 1em;
    background-color: #3c5c64;
    margin-top: 0em!important;
    padding: 0em;
    transition: 500ms;
  }

  .skills--img-container > p {
    font-size: 0em;
    padding: 0.1em;
  }

  .skills--img {
    width: 10vh;
    height: 10vh;
    padding: 1vh;
    left: 0px;
    top: 0px;
    margin: 0;
  }

  .skills--img-container:hover {
    transform: scale(1.1)
  }
  
  .skills--technology-header {
    display: none;
  }

  .tooltip-inner {
    display: none;
  }
}