#about {
  position: relative;
  color: white;
  height: 101vh;
  /* background-image: url("./../../img/about.webp"); */
  background-color: #292930;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about--anim {
  -webkit-animation: anim 1s ease-in;
  -moz-animation: anim 1s ease-in;
  -o-animation: anim 1s ease-in;
  animation: anim 1s ease-in;
}

.about--container {
  position: absolute;
  top: 35vh;
  left: 50%;
  width: 80vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.about--img {
  position: absolute;
  opacity: 1;
  top: -8vh;
  left: 50%;
  width: 16vw;
  height: 16vw;
  transform: translate(-50%, -50%);
}

.about--container > h1 {
  text-align: left;
  font-size: 7vh;
  font-family: 'Roboto', sans-serif;
  z-index: 5;
  font-weight: 700;
  color: #292930;
  background-color: white;
  width: 30%;
  text-transform: uppercase;
}

.about--txt {
  position: absolute;
  top: 10vh;
  text-align: left;
  margin-top: 1em;
}

.about--txt > p {
  font-size: 2.3vh !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
}

@media only screen and (max-width: 700px) {
  .about--container {
    top: 3em;
    width: 20em;
  }

  .about--img {
    display: none;
  }

  .about--container > h1 {
    font-size: 2em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    padding: 0.1em;
    color: #292930;
    background-color: white;
    margin-left: 0;
    width: 10em;
  }

  .about--txt {
    padding: 0.2em;
    background-color: #292930;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .about--txt > p {
    font-size: 2.2vh !important;
    text-align: center;
  }
}

@-webkit-keyframes aboutAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-moz-keyframes aboutAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-o-keyframes aboutAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@keyframes aboutAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-webkit-keyframes aboutAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-moz-keyframes aboutAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-o-keyframes aboutAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@keyframes aboutAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}
