#about {
  position: relative;
  color: white;
  height: 101vh;
  background-image: url("./../../img/about.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.AboutAnim {
  -webkit-animation: aboutAnim 1.5s ease-in;
  -moz-animation: aboutAnim 1.5s ease-in;
  -o-animation: aboutAnim 1.5s ease-in;
  animation: aboutAnim 1.5s ease-in;
}

.AboutContainer {
  position: absolute;
  top: 45vh;
  left: 50%;
  width: 80vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.AboutImg {
  position: absolute;
  opacity: 0.7;
  top: -8vh;
  left: 50%;
  width: 16vw;
  height: 16vw;
  transform: translate(-50%, -50%);
}

.AboutContainer > h1 {
  text-align: left;
  margin-left: 1em;
  font-size: 5vh;
}

.AboutText {
  position: absolute;
  top: 6vh;
  background-color: #292930;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 1em;
}

.AboutText > p {
  font-size: 2.3vh !important;
}

@media only screen and (max-width: 700px) {
  #about {
    position: relative;
    color: white;
    height: 100vh;
  }

  .AboutContainer {
    top: 7em;
    width: 20em;
  }

  .AboutImg {
    display: none;
  }

  .AboutContainer > h1 {
    font-size: 2em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    padding: 0.1em;
    background-color: #292930;
    margin-left: 0;
    width: 10em;
  }

  .AboutText {
    top: 6em;
    padding: 0.4em;
    font-size: 0.57em;
  }
}

@-webkit-keyframes aboutAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-moz-keyframes aboutAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-o-keyframes aboutAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@keyframes aboutAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-webkit-keyframes aboutAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-moz-keyframes aboutAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-o-keyframes aboutAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@keyframes aboutAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}
