.About {
  position: relative;
  color: white;
  height: 100vh !important;
}

.AboutContainer {
  position: absolute;
  top: 35em;
  left: 50%;
  width: 80vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.AboutContainer > h1 {
  text-align: left;
  margin-left: 1em;
}

.AboutText {
  border: 3px solid white;
  background-color: rgba(115, 162, 184, 0.61);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 2em;
}

.AboutText > p {
  font-size: 1.5em !important;
}


.AboutImg {
  position: absolute;
  opacity: 0.7;
  top: 17em;
  left: 50%;
  width: 20em;
  height: 20em;
  transform: translate(-50%, -50%);
}


@media only screen and (max-width: 1080px) {
  .AboutContainer {
    position: absolute;
    top: 250em;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}