.Contact {
  position: relative;
  color: white;
  height: 55em;
  top: 13em
}

.Contact > h1 {
  position: absolute;
  text-align: center;
  width: 5em;
  top: 5em;
  font-size: 4em;
  transform: rotate(90deg);
}

.ContactContainer {
  position: absolute;
  top: 22.5em;
  left: 50%;
  width: 90em;
  transform: translate(-50%, -50%);
  text-align: center;
}

.ContactContainer > h1 {
  padding-bottom: 0.5em;
}

.GitContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 5em
}

.GitIcon {
  height: 4em;
  width: 4em;
  color: white;
}

.GitBtn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  outline: none !important;
  padding: 0;
  margin: 0;
  bottom: 0;
}

.MailContainer {
  color: white;

  transition: 1s;
}

.MailContainer:hover {
  color: white
}

@media only screen and (max-width: 700px) {
  .Contact {
    position: relative;
    color: white;
    height: 37em;
    top: 1em
  }
  
  .Contact > h1 {
    font-size: 2em;
    text-align: center;
    border: 3px solid white;
    background-color: #da9393;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    padding: 0.1em;
    width: 10em;
    top:2.5em;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .ContactContainer {
    position: absolute;
    top: 18em;
    left: 50%;
    width: 20em;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .ContactContainer > h1 {
    padding-bottom: 0.5em;
    font-size: 2em
  }

  .ContactContainer > p {
    font-size: 0.9em
  }
  
  .GitContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 1em
  }
}