#contact {
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  background-repeat: no-repeat;
  background-position: center;
}

#contact > h1 {
  position: absolute;
  text-align: center;
  width: auto;
  top: 50%;
  font-size: 7vh;
  color: #ffffff;
  transform: translate(-30%, -50%) rotate(90deg);
  z-index: 5;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.contact--container { 
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  padding: 0.2em;
  padding-bottom: 1em !important;
  background-color: #152534;
  border: 2px solid #ffffff;
}

.contact--main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  z-index: 5;
}

.contact--container > article > h3 {
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #eeeeee;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  font-size: calc(0.8vh + .8vw);
}

.contact--container > article > h2 {
  padding-top: 2vh;
  color: #ffffff;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: calc(.8vh + 2vw);
}

.contact--article {
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  position: relative;
  margin-top: 5vh;
  height: auto;
}

.contact--icons {
  width: calc(2vh + 2vw); 
  height: calc(2vh + 2vw); 
  color: #ffffff
}

.contact--figcaption {
  color: #ffffff;
  margin-top: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: calc(.5vh + .7vw);
}

@media only screen and (max-width: 700px) {

  #contact {
    height: 101vh;
    background-image: url("./../../img/noise_bg.webp");
    background-repeat: no-repeat;
    background-position: center;
  }

  #contact > h1 {
    font-size: 2em;
    text-align: center;
    padding: 0.1em;
    width: 10em;
    top: 1em;
    left: 50%;
    color: #ffffff;
    transform: translate(-50%, -50%);
  }

  .contact--container > article > h2 {
    padding-top: 2vh;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: calc(4.5vw + 1vh);
  }
  

  .contact--container > article > h3 {
    font-size: 3vh;
    margin-bottom: 5vh;
  }
  
  .contact--container > article > p {
    color: #ffffff;
    font-size: 2vh !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .contact--container > p {
    font-size: 1.9vh;
  }

  .contact--article {
    position: relative;
    margin-top: 5em;
  }

  .contact--container { 
    width: auto;
    height: auto;
    text-align: center;
    padding: 0.2em;
    padding-bottom: 1em !important;
    background-color: #152534;
  }
  
  .contact--main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 0em;
    box-shadow: none;
  }

  .contact--git-icon {
    height: 12vw;
    width: 12vw;
  }

  .contact--article {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15vh 15vh 15vh;
    position: relative;
    margin-top: 2vh;
    height: auto;
  }
  
  .contact--icons {
    width: 10vw; 
    height: 10vw;
    color: #ffffff
  }
  
  .contact--figcaption {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: calc(2vh + .8vw);
  }
}