#contact {
  position: relative;
  height: 101vh;
  background-image: url("./../../img/contact.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact > h1 {
  position: absolute;
  text-align: center;
  width: 5em;
  top: 45vh;
  font-size: 7vh;
  color: white;
  transform: rotate(90deg);
  z-index: 5;
}

.ContactContainer {
  position: absolute;
  top: 35vh;
  left: 50%;
  width: 32vw;
  transform: translate(-50%, -50%);
  background-color: #292930;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 0.2em;
  padding-bottom: 1em!important;
}

.ContactAnim {
  -webkit-animation: contactAnim 1.5s ease-in;
  -moz-animation: contactAnim 1.5s ease-in;
  -o-animation: contactAnim 1.5s ease-in;
  animation: contactAnim 1.5s ease-in;
}

.ContactContainer > h1 {
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: white;
}

.ContactContainer > p {
  color: white;
}

.GitContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 4vh;
}

.GitIcon {
  height: 4vw;
  width: 4vw;
  color: white;
}

.GitContainer > p {
  color: white;
  font-size: 2vh
}

.GitBtn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  outline: none !important;
  padding: 0;
  margin: 0;
  bottom: 0;
}

.MailContainer {
  color: #d56c2c;
  transition: 1s;
}

.PhoneNumber {
  color: #d56c2c;
}

.MailContainer:hover {
  color: #d56c2c;
}

@media only screen and (max-width: 700px) {
  #contact {
    position: relative;
    color: white;
    height: 100vh;
  }

  #contact > h1 {
    font-size: 2em;
    text-align: center;
    background-color: #292930;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    padding: 0.1em;
    width: 10em;
    top: 4em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ContactContainer {
    position: absolute;
    top: 19em;
    left: 50%;
    width: 20em;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-bottom: 1em;
  }

  .ContactContainer > h1 {
    padding-bottom: 0.5em;
    font-size: 4vh;
  }

  .ContactContainer > p {
    font-size: 1.9vh;
  }

  .GitContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 1em;
  }

  .GitContainer > p {
    color: white;
    font-size: 3vh
  }

  .GitIcon {
    height: 12vw;
    width: 12vw;
    color: white;
  }
}

@-webkit-keyframes contactAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-moz-keyframes contactAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-o-keyframes contactAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@keyframes contactAnim {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-webkit-keyframes contactAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-moz-keyframes contactAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@-o-keyframes contactAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}

@keyframes contactAnimMobile {
  0% {
    display: none;
    opacity: 0;
    left: 25%;
  }
  1% {
    display: block;
    opacity: 0;
    left: 25%;
  }
  100% {
    display: block;
    opacity: 1;
    left: 50%;
  }
}
