header {
  color: white;
  z-index: 5;
}

.HeaderLink {
  outline: 0;
  padding-right: 2em !important;
  padding-left: 2em !important;
  font-size: 2.5vh !important;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.HeaderTextColorWhite {
  color: #2e2e30 !important;
}

.HeaderTextColorDark {
  color: #fbd791 !important;
}

.HeaderLink:hover {
  text-decoration: underline;
}

.HeaderText {
  font-size: 1.5rem;
}

.HeaderNav {
  padding: 3em;
}

.HeaderTop {
  position: fixed;
  width: 50%;
  -webkit-transform: translate((50%, -2em));
  transform: translate(50%, -2em);
  background-color: transparent;
  transition: 1s;
}

.HeaderOut {
  position: fixed;
  background-color: #fbd791;
  width: 50%;
  -webkit-transform: translate((50%, 0%));
  transform: translate(50%, 0%);
  transition: 1s;
}

header > .shadow {
  box-shadow: none !important;
}

.navbar-toggler {
  outline: none !important;
}

.nav-link {
  transition: 1000ms;
}

.nav-link:hover {
  text-decoration: underline !important;
}

@media screen and (max-width: 1200px) {
  /* overflow: hidden */
  .HeaderLink {
    font-size: 2.2vh!important;
    text-align: center;
  }

  .HeaderTop {
    background-color: #fbd791;
    border-radius: 1em;
    -webkit-transform: translate((50%, 20%));
    transform: translate(50%, 20%);
  }
  .HeaderOut {
    background-color: #fbd791;
    border-radius: 1em;
    -webkit-transform: translate((50%, 20%));
    transform: translate(50%, 20%);
  }

  .HeaderTextColorWhite {
    color: #2e2e30 !important;
  }
  
  .HeaderTextColorDark {
    color: #2e2e30 !important;
  }
}
