header {
  color: white;
  z-index: 5;
}

.header--link {
  outline: 0;
  padding-right: 2em !important;
  padding-left: 2em !important;
  font-size: 2.2vh !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.dropdown-menu {
  background-color: #2e2e30 !important;
  border: none !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.dropdown-menu > a {
  color: #fbd791 !important;
}

.dropdown-divider {
  color: #2e2e30 !important
}

.dropdown-item:hover {
  background-color: #2e2e30 !important;
}

.dropdown-menu > a:hover {
  text-decoration: 1px solid #fbd791 underline;
}
.text--gold {
  color: #fbd791 !important;
}

.text--gray {
  color: #ffffff !important;
}

.header--link:hover {
  text-decoration: underline;
}

.header--container {
  font-size: 1.5rem;
}

.header--top {
  background-color: #2e2e3000;
  transition: 1s;
}

.header--out {
  background-color: #2e2e30;
  transition: 1s;
}

header > .shadow {
  box-shadow: none !important;
}

.navbar-toggler {
  outline: none !important;
}

.nav-link {
  transition: 1000ms;
}

.nav-link:hover {
  text-decoration: underline !important;
}

.nav-item > a {
  color: #fbd791;
  font-size: 2.2vh !important;
}

.nav-item > a:hover {
  color: #fbd791
}

.socials {
  position: absolute;
}

@media screen and (max-width: 1200px) {
  .header--link {
    font-size: 2.2vh!important;
    text-align: center;
  }

  .header--top, .header--out {
    background-color: #2e2e30;
  }

  .text--gold, .text--gray {
    color: #fbd791 !important;
  }

  .socials {
    position: relative;
  }
  
}
