.Header { 
    color: white;
}
.HeaderLink {
    outline: 0;
}

.HeaderLink:hover {
    text-decoration: underline;
}
.HeaderText {
    font-size: 1.5rem;
}

.HeaderNav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
}