.nav--container {
    position: fixed;
    height: auto;
    width: auto;
    text-align: center;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    margin-left: 1em;
    z-index: 500;
    margin-left: .2em;
    background-color: #424142;
    border-radius: 2em;
    border: 1px solid #ffffff
}

.nav--rect {
    position: relative;
    height: 2em;
    width: 2em;
    margin: .5em;
    display: block;
    cursor: pointer;
}

.nav--circle {
    position: absolute;
    height: .5em;
    width: .5em;
    background-color: #ffffff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav--rect:hover {
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.nav--rect-active {
    border: 1px solid #ffffff;
    border-radius: 50%; 
}

.dropdown {
    height: 3em !important;
}

.dropdown > a {
    font-size: auto !important;
}

.dropdown-menu.show {
    padding: 0 !important;
    margin-top: 1em;
    background-color: transparent !important;
}

.dropdown-menu.show > a {
    border: 1px solid #ffffff !important;
    border-radius: 2em !important;
    background-color: #424142;
}

@media only screen and (max-width: 700px) {
    .nav--container {  
        margin-left: .2em;
        background-color: #424142;
        border-radius: 2em;
        border: 1px solid #ffffff
    }

    .dropdown-menu, .show {
        position: relative;
        top: 0% !important;
        left: 0% !important;
        margin-top: 0 !important;
    }
}