.SocialMedia {
  position: fixed;
  right: 2em;
  bottom: 2.5em;
  width: 5em;
  height: 12em;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.SocialMediaBtn {
  width: 4em;
  height: 4em;
  border: none;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  outline: none !important;
  color: #d56c2c;
  font-family: "Libre Baskerville", sans-serif;
}

.FacebookBtn,
.LinkedInBtn {
  width: 4em;
  height: 4em;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  outline: none !important;
  color: #d56c2c;
}

.SocialMediaIcon {
  height: 80%;
  width: 80%;
  color: #d56c2c;
}

.FacebookIcon,
.LinkedInIcon {
  height: 40%;
  width: 40%;
  padding: 0.1em;
  color: #d56c2c;
}

@media only screen and (max-width: 700px) {
  .SocialMedia {
    right: 0.5em;
    bottom: 3em;
    width: 4em;
    height: 12em;
    align-content: center;
  }

  .SocialMediaBtn {
    width: 4em;
    height: 4em;
    font-size: 1em;
  }

  .FacebookBtn,
  .LinkedInBtn {
    
    
    width: 4em;
    height: 4em;
  }

  .FacebookIcon,
  .LinkedInIcon {
    height: 40%;
    width: 40%;
  }
  .SocialMediaIcon {
    height: 80%;
    width: 80%;
  }
}
