.SocialMedia {
  position: fixed;
  right: 1em;
  bottom: 5.5em;
  width: 4em;
  height: 12em;
  align-content: center;
  display: flex;
  flex-direction: column;
  z-index: 8;
}

.SocialMediaBtn {
  width: 4em;
  height: 4em;
  border: none;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0;
  background-color: #fbd791;
  outline: none !important;
  font-weight: 400;
  padding-top: 0.2em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.FacebookBtn,
.LinkedInBtn,
.GitBtn {
  width: 4em;
  height: 4em;
  border: none;
  background-color: #fbd791;
  outline: none !important;
}

.FacebookBtn {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.GitBtn { 
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.SocialMediaIcon {
  height: 60%;
  width: 60%;
  color: #4B7AB3;
}

.FacebookIcon,
.LinkedInIcon,
.GitIcon {
  height: 60%;
  width: 60%;
  padding: 0.1em;
  color: #2e2e30;
}

@media only screen and (max-width: 700px) {
  .SocialMedia {
    right: 0.2em;
    bottom: 4.5em;
    width: 2.5em;
    height: 7.5em;
  }



  .SocialMediaBtn, .FacebookBtn, .LinkedInBtn, .GitBtn {
    width: 2.5em;
    height: 2.5em;
  }
}
