footer {
  position: relative;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, .4);
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.40), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  bottom: 0;
  padding-right: 1em;
  font-size: 1.2vh;
}

@media only screen and (max-width: 700px) {
  footer {
    text-align: right;
    padding-top: 0.2em;
    font-size: 0.7em
  }
}
