body,
html {
  /* background: url("./img/bg_blur.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  /* height: 100%; */
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", sans-serif;
}

p {
  font-family: "Libre Baskerville", sans-serif;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

.languageBtn {

  border: none;
  outline: none !important;
  background-color: rgba(255, 255, 255, 0);

  position: fixed;
  right: 2.4em;
  bottom: 2.5em;
  width: 5em;
  height: 2em;
  align-content: center;
  display: flex;
  flex-direction: column;
}
