body,
html {
  background: url("./img/bg_blur.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', sans-serif;
}

p {
  font-family: 'Libre Baskerville', sans-serif;
}